{
    "extends": [
      "standard",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
      "promise"
    ],
    "env": {
      "node": true
    },
    "globals": {
      "describe": "readonly",
      "test": "readonly",
      "expect": "readonly",
      "beforeEach": "readonly",
      "afterEach": "readonly",
      "vi": "readonly"
    },
    "ignorePatterns": [
      "node_modules",
      "dist"
    ]
  }
  