{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "promise",
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "coverage"
  ]
}
  